.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.modal-overlay {
  position: fixed; /* Фіксована позиція для забезпечення правильного відображення */
  top: 0; /* Розміщуємо верхню границю вгорі екрана */
  right: 0; /* Розміщуємо правий край вправо від екрану */
  bottom: 0; /* Розміщуємо нижню границю внизу екрану */
  left: auto; /* Встановлюємо лівий край як "auto", щоб він автоматично визначався */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Шар на передньому плані, навіть попереду інших елементів */

}

.modal-content {
  background-color: #fff; /* Колір фону контенту в модальному вікні */
  padding: 20px; /* Внутрішні відступи для контенту */
  border-radius: 5px; /* Закруглені кути для контенту */
  border: solid black 2px;
}

button {
  position: absolute; /* Закріплюємо кнопку відносно батьківського контейнера */
  bottom: 0; /* Нижній край контейнера */
  right: 0; /* Правий край контейнера */
  margin: 0px 20px 0 0; /* Відступ від краю */
  background-color: #0074d9; /* Колір фону кнопки */
  color: #fff; /* Колір тексту кнопки */
  padding: 10px 15px; /* Відступи всередині кнопки */
  border: none; /* Видаляємо рамку кнопки */
  cursor: pointer; /* Змінюємо курсор при наведенні */
}






